:root {
  --main-bg-color: whitesmoke;
  --button-selected-text-color: white;
  --content-bg-color: whitesmoke;
  --level-bg-color: #369;
  --level-fg-color: white;
  --course-bg-color: #639;
  --course-fg-color: white;

  --button-width: 100%;
}

@media screen and (width >= 46em) {
  :root {
    --button-width: 22em;
  }
}

.hidden {
  display: none;
}

footer {
  background: var(--content-bg-color);
  margin-top: 0;
  padding: 0.5rem;
  text-align: center;
}

footer p {
  margin: 3.5em;
}

header {
  background: var(--content-bg-color);
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header img {
  width: 10em;
  padding: 1em;
}

header h1 {
  flex-grow: 1;
  padding: 0; /* Remove padding to ensure full width */
}

header>nav {
  padding-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.05rem;
  flex-direction: column;
  width: var(--button-width);
}

header>nav>button:disabled {
  background: var(--main-bg-color);
  color: var(--button-selected-text-color);
}

header>nav>button {
  min-width: 8em;
}

body {
  max-width: 50rem;
  margin: auto;
  padding: 0 0.2rem;
  background: var(--main-bg-color);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  margin: 0;
  background: var(--content-bg-color);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex: 1 1 auto;
}

input[type="radio"] {
  display: none;
}

/* Style the label to look like a Material Design button */
input[type="radio"] + label {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: 5px;
  border-radius: 4px;
  background: var(--level-bg-color);
  color: white;
  cursor: pointer;
}

/* Style for the selected state */
input[type="radio"]:checked + label {
  color: var(--level-bg-color);
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

input[type="radio"][data-course] + label {
  background: var(--course-bg-color);
  color: var(--course-fg-color);
}

input[type="radio"][data-course]:checked + label {
  color: var(--course-bg-color);
  background: var(--course-fg-color);
}

article[data-day]>h4 {
  background: #F93;
  color: white;
  padding: 1em;
}

article[data-day]>* {
  padding-left: 1em;
  padding-right: 1em;
}

.description {
  color: #555;
}

.building,
.room,
.map {
  font-size: 80%;
  color: #369;
  font-weight: bold;
}


.event {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid #369;
  border-radius: 4px;
  background: #FFF;
}

.event h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.event p {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.event p+p {
 padding: 1em 2em;
}