:root {
  --main-bg-color: lightsteelblue;
  --button-selected-text-color: white;
  --content-bg-color: whitesmoke;
}

.hidden {
  display: none;
}

footer {
  border-top: 0.05rem solid;
  background: var(--content-bg-color);
  margin-top: 0;
  padding: 0.5rem;
}

footer p {
  margin: 0.5em;
  font-size: 0.8em;
}

header {
  background: var(--content-bg-color);
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

header h1 {
  flex-grow: 1;
  padding: 0; /* Remove padding to ensure full width */
}

header>nav {
  padding-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.05rem;
  flex-direction: column;
  max-width: 22em;
}

header>nav>button:disabled {
  background: var(--main-bg-color);
  color: var(--button-selected-text-color);
}

header>nav>button {
  min-width: 8em;
}

body {
  max-width: 50rem;
  margin: auto;
  padding: 0 0.2rem;
  background: var(--main-bg-color);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  margin: 0;
  background: var(--content-bg-color);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex: 1 1 auto;
}

input[type="radio"] {
  display: none;
}

/* Style the label to look like a Material Design button */
input[type="radio"] + label {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: 5px;
  border-radius: 4px;
  background-color: #369;
  color: white;
  cursor: pointer;
}

/* Style for the selected state */
input[type="radio"]:checked + label {
  color: #369;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

input[type="radio"][data-course] + label {
  background: #639;
  color: white;
}

input[type="radio"][data-course]:checked + label {
  background: white;
  color: #639;
}

article[data-day]>h4 {
  background: #F93;
  color: white;
  padding: 1em;
}

article[data-day]>* {
  padding-left: 1em;
}

.description {
  color: #555;
}

.building,
.room {
  font-size: 80%;
  font-style: italic;
}
