:root {
  --button-selected-text-color: white;
  --button-selected-aura: #0007;
  --course-bg-color: #639;
  --course-fg-color: #CCC;
  --day-bg-color: #F93;
  --day-fg-color: white;
  --event-bg-color: white;
  --event-fg-color: black;
  --level-bg-color: #369;
  --level-fg-color: #CCC;
  --location-fg-color: #369;
  --main-bg-color: white;
  --main-fg-color: #222;
  --main-fg-color-description: #444;

  --button-width: 100%;
  --max-width: 50rem;

  --grid-cols: 1fr;
  --grid-areas: "logo" "header" "top" "course" "staff" "main" "footer";
  --staff-list-direction: row;
}

@media screen and (width > 46em) {
  :root {
    --grid-cols: 1fr 1fr;
    --grid-areas: "logo logo" "header header" "top course" "staff staff" "main main" "footer footer";
    --max-width: 50rem;
  }
}


@media screen and (width > 80em) {
  :root {
    --grid-cols: auto 1fr 1fr 1fr;
    --grid-areas: "logo header header header" "staff main main main" "top main main main" "course main main main" ". main main main" "footer footer footer footer";
    --max-width: 80rem;
    --staff-list-direction: column;
  }
}


/* prefers dark query */
@media screen and (prefers-color-scheme: dark) {
  :root {
    --button-selected-text-color: white;
    --button-selected-aura: #0007;
    --course-bg-color: #639;
    --course-fg-color: #CCC;
    --day-bg-color: #F93;
    --day-fg-color: black;
    --event-bg-color: #444;
    --event-fg-color: #FFF;
    --level-bg-color: #369;
    --level-fg-color: #CCC;
    --location-fg-color: #F93;
    --main-bg-color: #222;
    --main-fg-color: #CCC;
    --main-fg-color-description: #EEE;
  }
  
}


#logo { grid-area: logo; }
header { grid-area: header;}
.top-nav { grid-area: top;}
.staff-nav { grid-area: staff;}
.course-nav { grid-area: course;}
main { grid-area: main;}
footer { grid-area: footer;}

body {
  display: grid;
  grid-template-columns: var(--grid-cols);
  grid-template-areas: var(--grid-areas);
  min-height: 100vh;

  max-width: var(--max-width);
  margin: auto;
  padding: 0 0.2rem;
  background: var(--main-bg-color);
  color: var(--main-fg-color);

  font-family: sans-serif;
}

.hidden {
  display: none;
}

footer {
  background: var(--main-bg-color);
  margin-top: 0;
  padding: 0.5rem;
  text-align: center;
}

footer p {
  margin: 3.5em;
}

header {
  background: var(--main-bg-color);
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#logo {
  width: 10em;
  padding: 1em;
}

header h1 {
  flex-grow: 1;
  padding: 0;
  /* Remove padding to ensure full width */
}

nav {
  padding-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.05rem;
  flex-direction: column;
  width: var(--button-width);
}

nav>button:disabled {
  background: var(--main-bg-color);
  color: var(--button-selected-text-color);
}

nav>button {
  min-width: 8em;
}

.staff-nav {
  flex-direction: var(--staff-list-direction);
}

.staff-nav p {
  width: 100%;
}

.staff-nav li {
  list-style-type: none;
  padding: 0.1em 0.5em;
}

main {
  margin: 0;
  background: var(--main-bg-color);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex: 1 1 auto;
  min-height: 90vh;
}

input[type="radio"] {
  display: none;
}

/* Style the label to look like a Material Design button */
input[type="radio"]+label {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: 5px;
  border-radius: 4px;
  background: var(--level-bg-color);
  color: white;
  cursor: pointer;
}

/* Style for the selected state */
input[type="radio"]:checked+label {
  color: var(--level-bg-color);
  background: var(--level-fg-color);
  box-shadow: 0 2px 4px var(--button-selected-aura);
}

input[type="radio"][data-course]+label {
  background: var(--course-bg-color);
  color: var(--course-fg-color);
}

input[type="radio"][data-course]:checked+label {
  color: var(--course-bg-color);
  background: var(--course-fg-color);
}

.day-title,
article[data-day]>h3 {
  background: var(--day-bg-color);
  color: var(--day-fg-color);
  padding: 1em;
  font-size: 1em;
  text-transform: capitalize;
}

article[data-day]>* {
  padding-left: 1em;
  padding-right: 1em;
}


.description {
  color: var(--main-fg-color-description);
}

.building,
.room,
.map,
.staff,
p.eventinfo {
  font-size: 80%;
  color: var(--location-fg-color);
  font-weight: bold;
}


.map,
.map a,
.map a:visited {
  text-transform: uppercase;
  color: var(--location-fg-color);
  font-weight: bold;
}


.event {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid var(--location-fg-color);
  border-radius: 4px;
  background: var(--event-bg-color);
  color: var(--event-fg-color);
}

.event h3,
.event h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.event p {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.event p+p {
  padding: 1em 2em;
}

.staff,
p.eventinfo {
  padding: 0 !important;
}

.staff a,
.staff a:visited {
  color: #369;
}


